.productCard {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.productCard__border {
  border: solid 1px gray;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard__img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 200px;
}

.productCard__title {
  text-align: center;
}

.productCard__footer {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .productCard {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .productCard {
    width: 33%;
  }
}
