.home {
  max-width: 1200px;
  margin: 0 auto;
}

.home_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: content-box;
}
.home__title {
  text-align: center;
}
